.container {
    margin-top: 80px;
}

.table-results {
    width: 100%;
}

.search-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

span, button {
    margin-left: 10px;
    margin-top: 10px
}
